@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



:root {
  --gt-color-bg-primary: #1890FF;
  --gt-color-bg-secondary: #FFFFFF;
  --gt-color-bg-tertiary: #E6F7FF;
  --gt-color-bg-fourth: #F5F5F5;

  --gt-color-font-primary: #000000;
  --gt-color-font-secondary: #FFFFFF;
  --gt-color-font-tertiary: #262626;
  --gt-color-font-fourth: #7E7E7E;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  min-height: 100vh;
  background: var(--gt-color-bg-secondary);
}

main {
  padding: 0 0px;
}


/*-----------------------------------------------------------------*/
/* generic styles */

.gt-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.gt-mb20 {
  margin-bottom: 20px;
}

.gt-mt20 {
  margin-top: 20px;
}
